@model IEnumerable<ECommerceProject.Models.Stock>

@{
    ViewData["Title"] = "Stock";
}

<h1>Stock</h1>

<p><a class="btn btn-primary" asp-action="Create">Create New</a></p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StockDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StockDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductCode)
            </td>
            <td>
                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
