@model IEnumerable<ECommerceProject.Models.SaleDetails>

@{
    ViewData["Title"] = "Sale Details";
}

<h1>Sale Details</h1>

<p><a class="btn btn-primary" asp-action="Create">Create New</a></p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaleQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th style="min-width: 200px; max-width: 500px; width: max-content;"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaleQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesOrder.InvoiceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit.UnitName)
            </td>
            <td>
                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
