@model IEnumerable<ECommerceProject.Models.SalesOrder>

@{
    ViewData["Title"] = "Sales Order";
}

<h1>Sales Order</h1>

<p><a class="btn btn-primary" asp-action="Create">Create New</a></p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.InvoiceDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InvoiceNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalBillAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Discount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VAT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShippingCharge)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NetPayableBill)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Remarks)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer)
                </th>
                <th style="min-width: 200px; max-width: 500px; width: max-content;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.InvoiceDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InvoiceNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalBillAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Discount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VAT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShippingCharge)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NetPayableBill)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Remarks)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.CustomerEmail)
                    </td>
                    <td>
                        <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

